<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/nav.css')}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename = 'scripts/ingredientListForm.js')}}"></script>
    <script src="{{ url_for('static', filename = 'scripts/nav.js')}}"></script>
</head>

<body>

<div class="topnav">
    <div class="leftnav">
        <a class="navItem" href="/">Home</a>
        <a class="navItem" href="/recipes">Recipes</a>
    </div>
    <div class="rightnav">
        <a class="navItem" href="/login">Login</a>
        <a class="navItem" href="/signup">Sign Up</a>
    </div>

</div>
<div class="content">
    <div id="ingredientList">

    </div>
    <button id="addIngredient">Add Ingredient</button>
    <button id="submit">Update Ingredient</button>
</div>

</body>

</html>

