
body {
    background-color: grey;
}

.topnav {
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    padding: 10px 0px;
}

.topnav h1 {
    margin: 0px;
}

.topnav p {
    margin: 5px;
}

.search-container {
    width: 100%;
}

.search {
    height: 28px;
    width: 80%;
    border-radius: 5px;
    border-color: lightgrey;
    padding: 2px;
}

.submit {
    height: 32px;
    width: 10%;
    border-radius: 5px;
    background-color: #FC94AF;
    border: 0px;
    padding: 2px;
}

.submit:hover {
    background-color: #FE7F9C;
    cursor: pointer;
}

.results {
    margin: 18px 0 0;
    align-items: center;
    display: grid;
    gap: 10px;
}

.song {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
    width: 90%;
    margin: 0px auto;
}

.song img {
    width: 150px;

}


